<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nwafu.nexus.infrastructure.mapper.SysDeptMapper">

    <resultMap id="DeptResult" type="cn.edu.nwafu.nexus.infrastructure.model.entity.SysDept">
        <id property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="name" column="name"/>
        <result property="orderNum" column="order_num"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectDeptVo">
        select id,
               parent_id,
               ancestors,
               name,
               order_num,
               phone,
               email,
               status,
               create_time,
               update_time
        from sys_dept
    </sql>

    <select id="selectDeptList" parameterType="cn.edu.nwafu.nexus.infrastructure.model.dto.system.DeptListDto"
            resultType="cn.edu.nwafu.nexus.infrastructure.model.vo.system.DeptListVo">
        select id,
        name,
        parent_id,
        order_num,
        phone,
        email,
        status,
        create_time
        from sys_dept
        where delete_time is null
        <if test="name != null and name != ''">
            AND name like concat('%', #{name}, '%')
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        order by parent_id, order_num
    </select>

    <select id="selectDeptById" parameterType="Long" resultMap="DeptResult">
        <include refid="selectDeptVo"/>
        where id = #{deptId} and delete_time is null
    </select>

    <select id="hasChildByDeptId" parameterType="Long" resultType="Integer">
        select count(1)
        from sys_dept
        where parent_id = #{deptId}
          and delete_time is null
    </select>

    <select id="checkDeptNameUnique" resultType="Integer">
        select count(1)
        from sys_dept
        where name = #{name}
          and parent_id = #{parentId}
          and delete_time is null
    </select>

    <insert id="insertDept" parameterType="cn.edu.nwafu.nexus.infrastructure.model.entity.SysDept">
        insert into sys_dept(parent_id, ancestors, name, order_num, leader_id, leader_name,
                             phone, email, status)
        values (#{parentId}, #{ancestors}, #{name}, #{orderNum}, #{leaderId}, #{leaderName},
                #{phone}, #{email}, #{status})
    </insert>

    <update id="updateDept" parameterType="cn.edu.nwafu.nexus.infrastructure.model.entity.SysDept">
        update sys_dept
        <set>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="ancestors != null">ancestors = #{ancestors},</if>
            <if test="name != null">name = #{name},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="leaderId != null">leader_id = #{leaderId},</if>
            <if test="leaderName != null">leader_name = #{leaderName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="status != null">status = #{status},</if>
            update_time = CURRENT_TIMESTAMP(3)
        </set>
        where id = #{id}
    </update>

    <update id="deleteDeptById" parameterType="Long">
        update sys_dept
        set delete_time = CURRENT_TIMESTAMP(3)
        where id = #{deptId}
    </update>

</mapper> 